<div class="overflow-x-auto">
    <button class="btn btn-xs btn-outline" @onclick="PreviousWeek" disabled=@(_weekOffset == 0)>
        previous
    </button>
    <button class="btn btn-xs btn-outline" @onclick="NextWeek" disabled=@(IsLastWeek())>
        next
    </button>
    <table class="table table-compact w-full overflow-y-scroll">
        <thead class="border-b border-gray-50 border-opacity-30">
            <tr class="align-top">
                <th class="align-top">
                    Day
                </th>
                <th>
                    Your Balance
                    <div class="opacity-70 text-xs lowercase font-mono font-normal">
                        (end of the day)
                    </div>
                </th>
                <th>
                    Earnings
                    <div class="opacity-70 text-xs lowercase font-mono font-normal">
                        (upcoming)
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-50 divide-opacity-10">
            @{
                foreach (var day in Items.WeekDays(_weekOffset))
                {
                    var daysItems = Items.Where(x => x.Day.Date == day.Date);

                    var balanceAmountValue = daysItems.Last().BalanceAmountValue;
                    var balanceAmount = daysItems.Last().BalanceAmount;
                    var rebaseAmount = daysItems.Sum(x => x.DailyRebaseAmounts.Sum());
                    var earnings = daysItems.Sum(x => x.DailyRebaseAmountValues.Sum());

                    <tr>
                        <td class="font-mono align-top" width="15%">
                            <Display If="_weekOffset == 0">
                                <span class="text-secondary text-xs">
                                    <DisplayDate Value="day" StringFormat="dddd" />
                                </span>
                            </Display>
                            <Display If="_weekOffset > 0">
                                <span class="badge badge-secondary badge-outline text-xs">
                                    <DisplayDate Value="day" StringFormat="yyyy-MM-dd" />
                                </span>
                            </Display>
                        </td>
                        <td>
                            <span class="text-accent">$</span><DisplayDecimal Value="balanceAmountValue" />
                            <div class="stat-desc pt-1 font-mono">
                                <DisplayDecimal Value="balanceAmount" Unit="TITANO" />
                            </div>
                        </td>
                        <td>
                            <span class="text-accent">$</span><DisplayDecimal Value="earnings" />
                            <div class="stat-desc pt-1 font-mono">
                                <DisplayDecimal Value="rebaseAmount" Unit="TITANO" />
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public IReadOnlyCollection<TitanoForecastItem> Items { get; set; }

    private int _weekOffset;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _weekOffset = 0;
        }
    }

    private void PreviousWeek()
    {
        _weekOffset--;
        StateHasChanged();
    }

    private void NextWeek()
    {
        _weekOffset++;
        StateHasChanged();
    }

    private bool IsLastWeek()
    {
        return !Items.WeekDays(_weekOffset + 1).Any();
    }
}
