@if (!string.IsNullOrWhiteSpace(CurrencySymbol))
{
    <span class="text-accent">@CurrencySymbol</span>
}
@DisplayText

@code {
    [Parameter]
    public decimal? Value { get; set; }
    [Parameter]
    public string StringFormat { get; set; }
    [Parameter]
    public string CurrencySymbol { get; set; }
    [Parameter]
    public string Unit { get; set; }

    private string DisplayText => GetDisplayText();

    protected override void OnInitialized()
    {
        StringFormat = StringFormat ?? "N2";
    }

    private string GetDisplayText()
    {
        if (Value is null)
        {
            return null;
        }

        var displayText = Value.Value.ToString(StringFormat, new CultureInfo("en-US"));
        if (!string.IsNullOrWhiteSpace(Unit))
        {
            displayText += $" {Unit}";
        }

        return displayText;
    }
}
