@inject TimeZoneService TimeZoneService

<div class="topbar w-full font-mono">
    <div class="px-3 bg-neutral rounded-b-xl">
        <Display If="InitialBalance is null || State.Balances is null">
            loading...
        </Display>
        <Display If="InitialBalance is not null && State.Balances is not null">
            <strong>first deposit:</strong> <DisplayDecimal Value="InitialBalance.Value" Unit="TITANO" />
            <div class="tooltip tooltip-bottom" data-tip="@InitialBalance.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")">
                (<span class="opacity-70">@FirstDepositWas()</span>)
            </div>
            <Display If="BalanceIncrease > 0">
                - <strong>increase:</strong> <DisplayDecimal Value="BalanceIncrease" Unit="TITANO" />
                <div class="badge badge-secondary badge-outline font-sans text-center cursor-pointer" @onclick=@(() => _displayBalanceIncreasePercentage = !_displayBalanceIncreasePercentage)>
                    <Display If="_displayBalanceIncreasePercentage">
                        <DisplayDecimal Value="BalanceIncreasePercentage" />%
                    </Display>
                    <Display If="!_displayBalanceIncreasePercentage">
                        x <DisplayDecimal Value="BalanceIncreaseMultiplier" />
                    </Display>
                </div>
                <span class="badge badge-accent badge-outline font-sans">
                    <DisplayDecimal Value="BalanceAmountValueIncrease" CurrencySymbol="@State.CurrencySymbol" />
                </span>
            </Display>
        </Display>
    </div>
</div>

@code {
    [CascadingParameter(Name = "State")]
    public State State { get; set; }

    [Parameter]
    public BscScanResultItemModel InitialBalance { get; set; }

    private bool _displayBalanceIncreasePercentage = true;

    private string FirstDepositWas()
    {
        TimeSpan timeSpan = default;
        var maxUnit = TimeUnit.Day;

        InvokeAsync(async () =>
        {
            var localTime = await TimeZoneService.GetLocalDateTime(DateTime.UtcNow);
            timeSpan = TimeSpan.FromDays((localTime - InitialBalance.CreatedAt).TotalDays);

            if (timeSpan.Days > 40)
            {
                maxUnit = TimeUnit.Month;
            }
        });

        return $"{timeSpan.Humanize(maxUnit: maxUnit, precision: 2)} ago";
    }

    private decimal BalanceIncrease => (State.Balances.BalanceAmount - InitialBalance.Value);
    private decimal? BalanceAmountValueIncrease => BalanceIncrease * State.Price?.In(State.Currency);
    private decimal BalanceIncreasePercentage => ((State.Balances.BalanceAmount - InitialBalance.Value) / InitialBalance.Value) * 100;
    private decimal BalanceIncreaseMultiplier => 1 + BalanceIncreasePercentage / 100;
}
