@page "/"
@inherits RootComponent
@inject BscScanService BscScanService
@inject CoinGeckoService CoinGeckoService
@inject TitanoService TitanoService
@inject IJSRuntime JsRuntime

<PageTitle>Go Titano!</PageTitle>

<div class="w-2/12 p-3 pt-0 flex flex-col">
    <TitanoStats Price="_titanoPrice"
                 InitialBalance="_initialBalance"
                 Balances="_titanoBalances"
                 Earnings="_titanoEarnings"
                 @ref="_titanoStats" />
</div>

<div class="w-10/12 p-4">
    <div class="columns-2">

        <div class="btn-group opacity-90">
            <Display If="_titanoPrice is null || _titanoBalances is null">
                &nbsp;
            </Display>
            <Display If="_titanoPrice is not null && _titanoBalances is not null">
                @foreach (var forecastView in Enum.GetNames<ForecastViewEnum>())
                {
                    var enumValue = Enum.Parse<ForecastViewEnum>(forecastView);
                    <button class="btn btn-sm @(_forecastView == enumValue ? "btn-info" : "btn-outline")" @onclick="() => ForecastViewChanged(enumValue)">
                        @forecastView
                    </button>
                }
            </Display>
        </div>

        <div class="text-right">
            <Display If="_connectedWallet is null">
                <button class="btn btn-sm btn-neutral" @onclick="async() => await ConnectWalletAsync()">
                    Connect Wallet
                </button>
            </Display>
            <Display If="_connectedWallet is not null">
                <button class="btn btn-sm btn-warning" @onclick="async() => await DisconnectWalletAsync()">
                    Disconnect
                </button>
            </Display>
        </div>
    </div>

    <div class="pt-9">
        <Display If="_titanoPrice is not null && _titanoBalances is not null">
            <TitanoForecast Items="_titanoForecastItems" View="_forecastView" />
        </Display>
    </div>
</div>

@code {
    private TitanoStats _titanoStats;
    private CoinGeckoSimplePriceItemModel _titanoPrice;
    private TitanoBalancesModel _titanoBalances;
    private TitanoEarningsModel _titanoEarnings;
    private BscScanResultItemModel _initialBalance;
    private IReadOnlyCollection<TitanoForecastItem> _titanoForecastItems;
    private ForecastViewEnum _forecastView;
    private string _connectedWallet;

    protected override async Task OnAfterFirstRenderAndParametersSetAsync()
    {
        await ConnectWalletAsync();
    }

    private async Task GetWeeklyForecastAsync()
    {
        _titanoForecastItems = await TitanoService.GetForecastItems(
            _titanoPrice.UsdValue,
            _titanoBalances.BalanceAmount);
    }

    private async Task ConnectWalletAsync()
    {
        await JsRuntime.InvokeAsync<string>(
            "connectWalletAsync",
            Wallets.Metamask,
            Coins.Contracts[Coins.Titano],
            DotNetObjectReference.Create(this));

        RefreshState(false);
    }

    [JSInvokable]
    public void SetConnectedWalletAsync(string wallet)
    {
        _connectedWallet = wallet;
        RefreshState(false);
    }

    [JSInvokable]
    public async Task DisconnectWalletAsync()
    {
        await JsRuntime.InvokeVoidAsync("resetApp");

        _connectedWallet = null;
        _titanoPrice = null;
        _titanoBalances = null;
        _titanoEarnings = null;
        _titanoForecastItems = null;
        RefreshState(false);
    }

    [JSInvokable]
    public async Task GetTitanoPriceAsync()
    {
        var currentPriceInUsd = _titanoPrice?.UsdValue ?? 0m;
        _titanoPrice = await CoinGeckoService.GetTitanoPriceAsync(ct);

        if (_titanoPrice?.HasChanged(currentPriceInUsd) == true && _titanoBalances is not null)
        {
            await GetWeeklyForecastAsync();
        }

        RefreshState(false);
    }

    [JSInvokable]
    public async Task SetTitanoBalancesAsync(string balance)
    {
        var currentBalanceAmount = _titanoBalances?.BalanceAmount ?? 0;
        _titanoBalances = TitanoService.GetBalances(
            balance,
            _titanoPrice.UsdValue);

        if (_titanoBalances.HasChanged(currentBalanceAmount))
        {
            await GetWeeklyForecastAsync();
        }

        RefreshState(false);
    }

    [JSInvokable]
    public void GetTitanoEarningsAsync()
    {
        _titanoEarnings = TitanoService.GetEarnings(
            _titanoPrice.UsdValue,
            _titanoBalances.BalanceAmount);

        RefreshState(false);
    }

    [JSInvokable]
    public async Task SetRebaseCountdownAsync()
    {
        if (_titanoStats is not null)
        {
            await _titanoStats.SetRebaseCountdownAsync();
        }
    }

    [JSInvokable]
    public async Task GetInitialBalanceAsync(string walletAddress)
    {
        _initialBalance = await BscScanService.GetInitialBalanceAsync(walletAddress, ct);
        StateHasChanged();
    }

    private void ForecastViewChanged(ForecastViewEnum forecastView)
    {
        _forecastView = forecastView;
    }
}