@tailwind base;
@tailwind components;
@tailwind utilities;

#blazor-error-ui {
    background: lightyellow;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

body {
    background-color: #4834d4;
    background-image: linear-gradient(715deg, #4834d4 0%, #0c0c0c 70%);
    letter-spacing: .02rem;
}

.topbar {
    position: absolute;
    display: flex;
    line-height: 2rem;
    justify-content: center;
    font-size: .7rem;
    opacity: .8;
}

.titano {
    display: inline-flex;
    height: 74px;
    justify-content: center;
}
.titano svg {
    z-index: 10;
}

.stat {
    border-color: rgba(128, 128, 128, .6);
}

.stats {
    background-color: transparent;
}

.stat.first {
    border-top: 0;
}

.stat-desc {
    font-size: .7rem;
}

.table :where(thead,tfoot) :where(th,td) {
    background-color: transparent!important;
}

.initial-balance li {
    line-height: 1.2rem;
}
.initial-balance em {
    font-style: normal;
    opacity: .7;
}

.forecast-topbar {
    padding-bottom: 1.7rem;
    padding-top: 0.4rem;
}